################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/driver/bin/Debug
/driver/obj/Debug
*.suo
*.user
